
#navegador ul{
  list-style-type: none;
  text-align: center;
}

#navegador li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

#navegador li a {
  padding: 5px 15px 5px 15px;
  color: #666;
  background-color: #54b4e7;
  border: 5px inset #ccc;
  text-decoration: none;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#navegador li a:hover{
  background-color: #333333;
  color: #ffffff;
  padding: 7px 17px 7px 17px;
  transform: scale(1.1, 1.1);
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer img {
    margin-left: 0.5rem;
  }
  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    color: i#54b4e7;
    text-decoration: none;
  }
  .title a {
    color: #54b4e7;
    text-decoration: none;
  }
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  .title {
    color: #54b4e7;
    margin: 20px;
    line-height: 0.5;
    font-size: 4rem;
  }
  .title,
  .description {
    text-align: center;
  }
  .description {
    color: #54b4e7;
    padding: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.1rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }
  .separar{
    text-align: left;
    color: #54b4e7;
    font-size: 3rem;
  }
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: #54b4e7;
    text-decoration: none;
    border: 4px double #54b4e7;
    border-radius: 10px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
    transform: scale(1.1, 1.1);
  }
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .logo {
    height: 1em;
  }
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }
  * {
    box-sizing: border-box;
  }